body {
    color: rgb(240, 240, 240);
    background-color: rgb(15, 15, 15);
}

#takePictureIcon {
  width: 5em;
  height: 5em;
  
  background-image: url('./cameraIcon.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}



/* image Preview page */
#imageBoard {
    height: 20em;
}

#imagePicContainer {
    width: 100%;
    height: 100%;
    
    background-size: cover;
    background-position: center;

    transform: rotate(0deg);

    opacity: 0;
}


#rotateRight, #rotateLeft {
  background-image: url('./rotateIcon.svg');

  cursor: pointer;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  z-index: 5;
}

#rotateLeft {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#submitImgBtn {
  z-index: 5;
}




/* uploaded page */
#textAreaForOutput {
    height: 30vh;
}

#copiedPopup {
    position: absolute;
    background-color: rgba(50, 50, 50,0.5);

    bottom: 1em;
    width: 60%;
    height: 5em;

    border-radius: 2em;

    /* center horizontally */
    right: 50%;
    transform: translateX(50%);

    opacity: 0;
}

#copiedPopupText {
    position: absolute;

    /* center vertically and horizontally */
    right: 50%;
    top: 50%;
    transform: translate(50%,-50%);
}

#shareButtonTooltip {
    width: 100%;
    background-color: rgba(200, 200, 200, 0.2);
    border-radius: 1em;
    font-size: 0.8em;

    opacity: 0;

}





/* Loading Animation */
.lds-ripple {
    position: absolute;
    width: 256px;
    height: 256px;

    opacity: 0;
    display: none;

    bottom: 10em;

    /* center horizontally */
    right: 50%;
    transform: translateX(50%);

  }
  .lds-ripple div {
    position: absolute;
    border: 16px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 112px;
      left: 112px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 232px;
      height: 232px;
      opacity: 0;
    }
  }